extends layout

block content
  h1= title
  p Welcome to #{title}
  p Easily fill up a guestlist either via social media, website widget or via email. Connect several of your staff to accelerate the entrnace and lowering queue significant.
  .row
    .col-sm-4
      h3 Features
      ol
        li: p Several from your staff can connect to the same list.
        li: p Lower queue drastically.
        li: p Increase happiness from your events visitors
  
