doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= name
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='robots', content='noindex,nofollow')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-app='event', style='position:relative;')
    .row(ng-controller='rsvp', ng-init='init("#{gid}")')
      .col-sm-12
        h1= name
        p.count {{ getTotalArrived() }} / {{ getTotalAttending() }}
        input.form-control(type='text', ng-model='query', placeholder='Find by name')
        ul
          li(ng-repeat='guest in attendees | filter : query | orderBy : "arrived" : reverse ')
            span.name.ng-cloak(ng-click='getGuestInfo(guest)') {{ guest.name }}
            span.tickets.ng-clock(ng-if='guest.tickets.total > 1') + {{ guest.tickets.total }}
            span.btn.btn-xs.btn-success(ng-if='guest.arrived == false')
              span.glyphicon.glyphicon-ok
              | Check off
            span.btn.btn-xs.btn-danger(ng-if='guest.arrived == true')
              span.glyphicon.glyphicon-remove
              | Arrived
      .col-sm-5(style='position:fixed;right:0;top:0; background: #ddd;')
        h3 Info
        .form-group
          label Name
          input.form-control(ng-model='user.name')
        .form-group
          label Total tickets
          input.form-control(ng-model='user.tickets.total')
        .form-group
          label Used tickets
          input.form-control(ng-model='user.tickets.used')
        .form-group
          label Tickets left
          input.form-control(ng-model='user.tickets.left')
        .form-group
          span.btn.btn-xs.btn-success(ng-click='checkAttendee(user)', ng-if='user.arrived == false')
            span.glyphicon.glyphicon-ok
            | Check off
          span.btn.btn-xs.btn-danger(ng-click='checkAttendee(user)', ng-if='user.arrived == true')
            span.glyphicon.glyphicon-remove
            | Arrived
    
    script(src='/bower_components/angular/angular.js')
    script(src='/controllers/event.js')
